@optimizely:registry=https://optimizely.jfrog.io/optimizely/api/npm/npm/
//optimizely.jfrog.io/optimizely/api/npm/npm/:_password=QUtDcEJ0TjhjVGR6NldzWFk0TXczak5NNmJmUnJuaEpyTjdXTXh1WWlKTlhFTEc2bzdhRGlkcHlvcDFockFQOFN4VkhkSFZNRg==
//optimizely.jfrog.io/optimizely/api/npm/npm/:username=farhan.anjum
//optimizely.jfrog.io/optimizely/api/npm/npm/:email=Farhan.Anjum@optimizely.com
//optimizely.jfrog.io/optimizely/api/npm/npm/:always-auth=true
